<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>

<body>
    <h1>Hello, <%= name %>!</h1>
    <p>Here is your OTP: <b><%= otp %></b></p>
</body>

</html>