<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Registration Success</title>
</head>

<body>
    <h1>Hello, <%= name %>!</h1>
    <p>Here is your default password: <b><%= password %></b></p>
    <p>Your role is <b><%= role %></b></p>
    <p>Kindly change your password after login</p>
</body>

</html>